*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Merriweather", sans-serif;
}

body {
  @apply font-body text-surface-900 bg-surface-100;
}

@layer components {
  .btn {
    @apply bg-primary-700 text-primary-100 px-3 py-2 rounded-md text-sm text-center;
  }
  .card {
    @apply p-3 rounded-md bg-secondary-50 shadow-md h-full;
  }
}


@layer base {
  h1 {
    @apply display-large text-surface-900;
  }
  h2 {
    @apply display-medium text-surface-900;
  }
  h3 {
    @apply display-small text-surface-900;
  }
  h4 {
    @apply headline-large text-surface-900;
  }
  h5 {
    @apply headline-medium text-surface-900;
  }
  h6 {
    @apply headline-small text-surface-900;
  }
}

.router-link-exact-active {
  @apply text-tertiary-500;
}
