*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Merriweather", sans-serif;
}

body {
  @apply container 
    min-w-full 
    text-surface-900
    bg-surface-50 
    dark:bg-surface-900 
    prose prose-stone 
    prose-headings:dark:text-surface-200 
    dark:prose-invert 
    prose-li:list-none 
    prose-a:no-underline 
    transition-colors 
    duration-500 
    ease-in-out;
}

header,
footer {
  @apply container
  min-w-full  
  shadow-sm 
  bg-secondary-50 
  dark:bg-secondary-900 
  prose prose-stone 
  dark:prose-invert 
  prose-a:no-underline;
}

ul,
li {
  @apply p-0;
}

@layer components {
  .btn {
    @apply relative 
      text-primary-100 bg-primary-600 
      dark:bg-primary-500 
      brightness-100 
      overflow-hidden 
      px-3 py-2 
      rounded-lg 
      align-middle text-center 
      cursor-pointer whitespace-nowrap 
      transition-colors duration-500 ease-in-out;
  }
  .btn:hover {
    @apply brightness-90
      shadow shadow-stone-800/40;
  }
  .btn:focus {
    @apply brightness-90;
  }
  .btn:active {
    @apply brightness-75
      shadow-none;
  }
  .btn:disabled {
    @apply opacity-50 
      text-surface-800 bg-surface-300 
      shadow-none 
      cursor-default;
  }

  .btn-text {
    @apply relative 
      text-primary-600 
      dark:text-surface-300 
      brightness-100 
      overflow-hidden 
      px-3 py-2 
      rounded-lg 
      align-middle text-center 
      cursor-pointer whitespace-nowrap 
      transition-colors duration-500 ease-in-out;
  }
  .btn-text:hover {
    @apply brightness-90
      shadow shadow-stone-800/40 
      outline outline-1 outline-offset-0 
      border-primary-600;
  }
  .btn-text:focus {
    @apply brightness-90;
  }
  .btn-text:active {
    @apply brightness-75
      shadow-none;
  }
  .btn-text:disabled {
    @apply opacity-50
      text-surface-800 bg-surface-300 
      shadow-none outline-0 
      cursor-default;
  }

  .inp {
    @apply py-1 px-2 w-full
      bg-surface-50 
      dark:text-surface-900 dark:bg-surface-300
      rounded-lg 
      outline outline-surface-900 outline-1 outline-offset-0;
  }
  .inp:hover {
    @apply brightness-95 
      border-primary-600;
  }
  .inp:focus {
    @apply brightness-90;
  }
  .inp:active {
    @apply brightness-90;
  }
  .inp:disabled {
    @apply opacity-50
      text-surface-800 bg-surface-300 
      cursor-default;
  }
  .inp-succes {
    @apply outline-green-500;
  }
  .inp-error {
    @apply outline-red-500;
  }

  .card {
    @apply p-2 rounded-md 
      bg-secondary-50 dark:bg-secondary-900 
      shadow-md;
  }
}

a {
  @apply dark:text-surface-200;
}
a.router-link-exact-active {
  @apply text-tertiary-500 font-semibold 
    transition-colors duration-500 ease-in-out;
}

/* Page Transition */
.page-enter-active,
.page-leave-active {
  @apply transition-all duration-500;
}
.page-enter-from {
  @apply opacity-0 transform -translate-x-full;
}
.page-leave-to {
  @apply opacity-0 transform translate-x-full;
}

/* Layout Transition */
.layout-enter-active,
.layout-leave-active {
  @apply transition-all duration-500;
}
.layout-enter-from {
  @apply opacity-0 transform -translate-x-full;
}
.layout-leave-to {
  @apply opacity-0 transform translate-x-full;
}
